# SPDX-License-Identifier: EUPL-1.2
# SPDX-FileCopyrightText: 2023-present Jürgen Mülbert <juergen.muelbert@outlook.de>
#
# Top-most EditorConfig file
root = true

# Default settings for all files
[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
indent_style = space
indent_size = 2
max_line_length = 80 # Default Prettier printWidth

# Python files
[*.{py,pyi}]
indent_size = 4
max_line_length = 88 # Matches Black's default for Python

# C and C++ files
[*.{c,cpp,h,hpp}]
indent_size = 4
max_line_length = 100

# Swift files
[*.swift]
indent_size = 4
max_line_length = 100

# JavaScript, TypeScript, and JSON files
[*.{js,jsx,ts,tsx,json}]
indent_size = 2
max_line_length = 80

# Qt6 files (UI, QSS, QRC, TS)
[*.{ui,qss,qrc,ts}]
indent_size = 2
indent_style = space
max_line_length = 100

# Markdown files (Prettier proseWrap settings)
[*.{md,mdx,adoc}]
indent_size = 2
trim_trailing_whitespace = false
max_line_length = 80 # Matches Prettier's proseWrap default

# YAML and TOML files
[*.{yml,yaml,toml}]
indent_size = 2
max_line_length = 80

[*.xml]
indent_style = space
indent_size = 4

# HTML files
[*.html]
indent_size = 2
max_line_length = 80

# CSS and SCSS files
[*.{css,scss}]
indent_size = 2
max_line_length = 80

# Shell scripts
[*.{sh,bash,zsh}]
indent_size = 2

# Windows Shell
[*.{bat,cmd,ps1,psm1}]
end_of_line = crlf
indent_style = space
indent_size = 2

# Docker files
[{Dockerfile,*.dockerfile}]
indent_size = 2

# Special files
[{package.json,package-lock.json}]
indent_size = 2


