# SPDX-FileCopyRightText: 2023 Jürgen Mülbert <juergen.muelbert@web.de>
#
# SPDX-License-Identifier: EUPL-1.2
#
# Prettier configuration file for ignoring paths.
#
# For more information, visit https://prettier.io/docs/en/ignore.html.

# Benchmark artifacts
benchmark/projects/
benchmark/results/

# Deep Directories
**/dist
**/build
**/smoke
**/node_modules
**/fixtures
**/vendor
**/.vercel

# Short-term need to format
!packages/db/test/fixtures

# Directories
.venv
.github
.changeset
megalinter-reports
LICENSES/
resources/translations

# Files
pnpm-lock.yaml
LICENSE
